<!DOCTYPE html>
<html>
  <head>
    <title>ProjectDetroitCleanup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-no-turbolink="true">
    <%= render 'shared/logged_out_nav' %>

    <main class="container" id="main_content">
      <%= render 'shared/flash' %>

      <%= yield %>
    </main>
  </body>
</html>
